.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

h2 {
    font-size: 36px;
    font-family: 'Yeseva One', 'Times New Roman', cursive;
    color: #cc9900;
}

h3,
.dish__price,
.dish__title {
    font-size: 21px;
    font-family: 'Yeseva One', 'Times New Roman', cursive;
    color: #cc9900;
}

.header {
    height: 750px;
    background: #1b1b16 url('../img/top_bg.jpg') center no-repeat;
    color: #fff;
}

.navbar__brand {
    display: inline-block;
    float: left;
    width: auto;
    margin-right: 130px;
}

.brand__link {
    display: inline-block;
    width: 156px;
    height: 93px;
    padding-top: 30px;

    color: #fff;
    text-transform: uppercase;
    font-family: 'Yeseva One', 'Times New Roman', cursive;
    font-size: 36px;

    background:url('../img/logo.png') center no-repeat;
}

.brand__link:hover {
    opacity: 0.8;
    text-decoration: none;
}

.navbar__nav {
    float: left;
    width: auto;
}

.nav__item {
    display: inline-block;
    list-style: none;
}

.nav__link {
    position: relative;
    display: inline-block;
    padding: 20px;
    height: 93px;

    color: #fff;
    font-family: 'Gentium Book Basic','Times New Roman', serif;
    font-size: 21px;
}

.nav__link:hover {
    opacity: 0.8;
    text-decoration: none;
}

.nav__link:hover::before {
    position: absolute;
    content: "";
    left: 0;
    top: -1px;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
}

.promo {
    padding-top: 85px;
    text-align: center;
}

.slogan {
    font-family: 'Yeseva One', 'Times New Roman', cursive;
    font-size: 90px;
}

.btn {
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-book {
    border: 1px solid #000;
    background-color: rgba( 0, 0, 0, 0.7);
    opacity: 0.8;
}

.btn-menu {
    border: 1px solid #fff;
    background-color: rgba( 255, 255, 255, 0.28);
    opacity: 0.72;
}

.btn:hover {
    color: #fff;
}

.about,
.reservation {
    background: #fff url('../img/pattern_about.png');
}

.menu {
    background: #fff url('../img/pattern_menu.png');
}
.about__info {
    text-align: center;
}

.about__text {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
}

.ingredients {
    height: 658px;
    padding-top: 100px;
    color: #fff;
    background: #2f2e2f url('../img/ingredients_bg.jpg') center no-repeat;
}

.ingredients-content {
    background-color: rgba(0, 0, 0, 0.67);
    text-align: center;
}

.ingredients__title {
    color: #fff;
    margin: 0;
}

.ingredients__text {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
}

.dish__title-price {
    border-bottom: 1px solid rgba(200, 159, 45, 0.5);
}

.dish__title {
    float: left;
    min-width: 300px;
}

.dish__price {
    float: right;
    min-width: 80px;
}

.dish__description {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
}

.special {
    position: relative;
    border-left: 1px solid #f2efe1;
    border-right: 1px solid #d4b55d;
}

.special::before,
.special::after {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(#f2efe1, #d4b55d);
}

.special::before {
    top: 0;
}

.special::after {
    bottom: 0;
}

.special .dish__title-price::before {
    content: 'Special';
    position: absolute;
    top: -22px;
    right: -1px;
    width: 69px;
    height: 22px;

    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;

    background: url('../img/special.png') center no-repeat;
    z-index: 10;
}

.reviews {
    height: 758px;
    color: #fff;
    text-align: center;
    background: #24272f url('../img/reviews_bg.jpg') center no-repeat;
}

.reviews__title {
    color: #fff;
}

.reviews__content {
    background-color: rgba( 0, 0, 0, 0.8);
}

.review__text {
    font-size: 25px;
    font-family: 'Gentium Book Basic','Times New Roman', serif;
}

.review__author {
    font-size: 18px;
    font-family: 'Lato', Arial, sans-serif;
}

.reservation__content {
    text-align: center;
}

.reservation__text {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
}

.lbl {
    display: block;
    color: #c89f2d;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.field {
    width: 200px;
    height: 35px;

    font-family: 'Open Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 16px;

    border-top: 1px solid #c89f2d;
    border-bottom: 1px solid #c89f2d;
    border-left: none;
    border-right: none;
}

.reservation__btn {
    text-transform: none;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #c9a131;
}

.footer {
    color: #fff;
    background-color: #191919;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
}

.footer__title {
    color: #fff;
    font-size: 21px;
}

.footer__about,
.footer__opening-hours,
.footer__location {
    text-align: center;
}

.sprite {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.navbar__social .sprite {
    display: inline-block;
    height: 21px;
    width: 20px;
}

.sprite-y-tw {
    background-position: -5px -5px;
}

.sprite-y-yt {
    background-position: -41px -5px;
}

.sprite-y-fb {
    background-position: -72px -5px;
}

.sprite-cards {
    width: 120px;
    height: 15px;
    background-position: -96px -5px;
}

.footer__social .sprite {
    display: inline-block;
    width: 20px;
    height: 17px;
}

.sprite-fb {
    background-position: -226px -5px;
}

.sprite-yt {
    background-position: -245px -5px;
}

.sprite-tw {
    background-position: -270px -5px;
}

.sprite-wd {
    background-position: -297px -5px;
}